# Force strict engine checks (Node/Yarn versions must match package.json)
engine-strict=true

# Optionnel : registry privée ou token si nécessaire
# @vinycherry:registry=https://registry.npmjs.org/
# //registry.npmjs.org/:_authToken=YOUR_TOKEN